body{
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.headd{
    margin-top: 0%;
    text-align: center;
    font-weight: bold;
    font-size: xx-large;
    font-family: Arial, Helvetica, sans-serif
}
.first{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: safe;
    margin-top: 30px;
    width: 100%;
    gap: 15px;
    padding: 10px;
}
.kare{
    position: relative;
    height: 100px;
    width: 150px;
    background-color: white;
    padding: 10px;
    margin-left: 25px;
}
.kare-text{
    font-weight: normal;
    font-size: small;
    text-align: center;
    margin-top: -5px;
    font-family: Arial, Helvetica, sans-serif;
}
.kare img {
    max-width: 150px; 
    max-height: 100px;
}